body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F4AFAB;    
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

div {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.link, input[type=submit] {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #222222;
    text-decoration: none;
    font-size: 24px;
    background-color: #A799B7;
    padding: 5px 10px;
    margin: 5px;
    border-style: solid;
    font-weight: 600;
}

.link:hover, input[type=submit]:hover {
    background-color: #A9B799;
}

table {
    margin: auto;
    border-collapse: collapse;
}

#info td {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 24px;
    background-color: #A9B799;
}

td {
    border: 3px solid #222222;
    padding: 5px 10px;
    background-color: #A799B7;
}

.addDataTable td {
    border: none;
    background-color: #F4AFAB;
    padding: 0;
}

label {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 24px;
}

input {
    padding: 5px 10px;
    font-size: 18px;
    background-color: #A9B799;
    margin: 10px;
    color: #222222;
    border: 3px solid #222222;
}

.description {
    text-align: left;
}

.amount {
    text-align: right;
}